.sidebar{
    background-color: #030303da;
    height: 100vh;
}
.sidebar-section{
    position: fixed;
    z-index: 100;
    transition: .4s ease all;
    width: 3rem;
}
.sidebar-expand{
    width: 9rem;
}
.toggle-sidebar{
    position: absolute;
    right: .25rem;
    cursor: pointer;
}

.sidebar-img{
    width: 75%;
    margin-top: 2rem;
    border: 2px solid white;
}
.sidebar-content{
    margin-top: 10rem;
}
.sidebar-content a svg{
    font-size: 20px;
}