:root{
  --transit-fast: .4s ease all;
  --transit-medium: .65s ease all;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*CUSTOM GENERAL CLASSES*/
.flip--540{
  transform: rotate(540deg);
  transition: var(--transit-medium);
}
.reverse-transition{
  transform: revert;
  transition: var(--transit-fast);
}
