:root {
    --transit-fast: .4s ease all;
    --transit-vfast: .2s ease all;
    --transit-medium: .65s ease all;

    --bg-main-dark: #030303da;
    --bg-main-dark-hover: #131313da;
    --bg-main-white-hover: #5555554a;
    --bg-top-dark: #090909;
    --bg-gradient-dark: linear-gradient(#090909, #111);
    --bg-gradient-light: linear-gradient(snow, silver);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-top-dark);
}

.bg--dark {
    background-color: var(--bg-top-dark);
}

.my-shadow-dark {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.my-shadow-light {
    box-shadow: 0 2px 2px 0 rgb(250 250 250 / 14%), 0 3px 1px -2px rgb(250 250 250 / 20%), 0 1px 5px 0 rgb(250 250 250 / 12%);
}

.my-shadow-image-dark {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.my-shadow-image-light {
    box-shadow: 0 5px 20px -20px rgba(240, 240, 240, 0.56), 0 4px 25px 0px rgba(240, 240, 240, 0.12), 0 8px 10px -5px rgba(240, 240, 240, 0.2);
}

.bg-linear-dark {
    background: var(--bg-gradient-dark);
}

/*SLICK FOR DARK BACKGROUND*/
.slick-dots li button:before{
    color: white !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*CUSTOM GENERAL CLASSES*/
.flip--540 {
    transform: rotate(540deg);
    transition: var(--transit-fast);
}


.glass-morphic-content {
    backdrop-filter: blur(10px);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 3px 1px rgba(255, 255, 255, 0.2);
    min-height: 400px;
}

.glass-morphic-content:hover {
    background: linear-gradient(rgba(250, 250, 250, 0.05), black);
}

.glass-morphic-content:hover .line-white, .glass-morphic-content:hover .line-dark {
    width: 100%;
}

.min-height-25 {
    min-height: 280px;
}

.reverse-transition {
    transform: revert;
    transition: var(--transit-medium);
}

.text-justify {
    text-align: justify;
}

.line, .line-white {
    border-bottom: 2px solid var(--bg-main-dark-hover);
    margin-bottom: 1rem;
}

.line-white {
    border-color: white;
}

.section {
    padding: 5rem;
    min-height: 400px;
}

.section h3 {
    text-align: center;
    font-family: Raleway, sans-serif;
}

.line-title-dark, .line-title-white {
    padding: .1rem;
    border-bottom: 2px solid var(--bg-main-dark);
    width: 20%;
    margin: auto;
}

.text-behind-dark {
    font-size: 5rem;
    opacity: .03;
    color: white;
}

.line-title-white {
    border-color: white;
}

.fs-7, .fs-77 {
    font-size: 0.7rem;
}

.fs-8 {
    font-size: 0.85rem;
}

.w-0 {
    /*Used this for hiding navbar*/
    width: 0;
}

.button:hover .btn-icon {
    padding-left: 1rem;
}

.raleway {
    font-family: Raleway, 'Segoe UI', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.poppins {
    font-family: Poppins, 'Segoe UI', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* To Add transition time to elements */
.transit-medium {
    transition: var(--transit-medium);
}

.transit-vfast {
    transition: var(--transit-vfast);
}

.transit-fast {
    transition: var(--transit-fast);
}

.line-left-white {
    border-left: 2px solid white;
    padding-left: 10px;
}

@media screen and (max-width: 800px) {
    .mb--sm-2 {
        margin-bottom: 2rem;
    }

    .section, .about-section {
        padding: 3.5rem !important;
    }
    .exp-section{
        padding: 1rem !important;
    }
    .contact-section{
        padding-left: 2rem !important;
        padding-right: .5rem !important;
    }
    .testimonial-section{
        padding: 2rem !important;
    }

    .text-behind-dark {
        font-size: 4rem;
    }

    .line-white, .line {
        padding: 13px 0;
    }

    .min-height-25 {
        min-height: 350px;
    }

    .hero{
        padding-left: 4rem !important;
    }

    .my-image {
        width: 100%;
    }

    .container {
        width: 95%;
    }

    .fs-7 {
        font-size: 0.85rem;
        padding: 10px 5px;
    }
}
