:root{
  --transit-fast: .4s ease all;
  --transit-vfast: .2s ease all;
  --transit-medium: .65s ease all;

  --bg-main-dark: #030303da;
  --bg-main-dark-hover: #131313da;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*CUSTOM GENERAL CLASSES*/
.flip--540{
  transform: rotate(540deg);
  transition: var(--transit-fast);
}
.reverse-transition{
  transform: revert;
  transition: var(--transit-medium);
}
.fs-7{
  font-size: 0.7rem;
}
.w-0{
  /*Used this for hiding navbar*/
  width: 0;
}

/* To Add transition time to elements */
.transit-medium{
  transition: var(--transit-medium);
}
.transit-vfast{
  transition: var(--transit-vfast);
}
.transit-fast{
  transition: var(--transit-fast);
}